////// AUTHORIZATION //////
.auth {
  background-color: #2f2c2c;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh
}


.card-content {
  box-shadow: 0 0 20px 0 #ffffff;
  transition: box-shadow 0.5s linear;
}

.card-content:hover {
  box-shadow: 0 0 20px 0 #5b615b;
}

.auth-card {
  width: 500px;
  color: black;
  margin-top: $margin * 8;
}

.auth-title {
  font-size: 28px;
  margin-bottom: $margin * 3;
}

.auth-submit {
  width: 100%
}

.helper-text.invalid {
  color: #cd271b
}