@import "header.scss";
@import "auth.scss";

body {
  /* Сглаживание шрифта */
  //-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

*,
*:before,
*:after {
  /*box-sizing: border-box;*/
  border: 0;
  margin: 0;
}

#app {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.main_layout {
  position: relative;
  height: 100vh;
}

.sidebar {
  display: block;
  width: 15%;
  padding: 10px 10px;
  border-bottom: black 1px solid;
  border-right: black 1px solid;
}

.sidebar__item {
  padding: 10px 10px;
  border: chocolate 1px solid;
  margin-bottom: 1px;
}

.content {
  border: chocolate 1px solid;
  border-radius: 10px;
  padding: 10px 10px;
  top: 105px;
  left: 350px;
  position: absolute;
}

.title_page {
  border-bottom: #0f0f0f 1px solid;
}