<div class="auth">
  <div class="auth-card">
    <h1 class="auth__title">Words learning login</h1>
    <form>
      <div class="input-field">
        <input
          id="username"
          type="text"
          placeholder="Username"
          #username
          [class.uncorrect]="nameUncorrect"
        />
        <span [class.input-field__help]="!nameUncorrect">Username's length is cannot be less then 4. Now: {{username.value.length}}</span>
      </div>
      <div class="input-field">
        <input
          id="password"
          type="password"
          placeholder="Password"
          #userPassword
          [class.uncorrect]="passwordUncorrect"
        />
        <span [class.input-field__help]="!passwordUncorrect">Password's length is cannot be less then 6. Now: {{userPassword.value.length}}</span>
      </div>
      <div class="btn">
        <button type="button" (click)="login(username.value, userPassword.value)">
          Login
        </button>
      </div>
    </form>
    <div class="auth__have">
      <span>
        Do you have no an account?
      </span>
      <a routerLink="/registration">Registration</a>
    </div>
  </div>
</div>
