<div class="auth">
  <div class="auth-card">
    <h1 class="auth-title">Words learning login</h1>
    <form>
      <div class="input-field">
        <input
          id="username"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="input-field">
        <input
          id="password"
          type="password"
          placeholder="Password"
        />
      </div>
      <div class="btn">
        <button type="button">
          Login
        </button>
      </div>
    </form>
    <div class="auth__have">
      <span>
        Do you have no an account?
      </span>
      <a routerLink="/registration">Registration</a>
    </div>
  </div>
</div>
