*node_modules
*dist
*build
.github
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# local env files
.env.local
.env.*.local
.firebaserc
*.env
*/environment.prod.ts
*/botConfig.js
!*/example.*.env
!*/example.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log
*.cache
logs
*.log
lerna-debug.log*

# Editor directories and files
#.idea
.vscode
.vs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.pnp
.pnp.js
.env.development.local
.env.test.local
.env.production.local


# Tests
/.nyc_output

# System Files
.DS_Store
Thumbs.db


desktop.ini
