.auth {
  margin-top: 130px;
}

.auth-card {
  background: #fff;

  width: 500px;

  border-radius: 15px;
  padding: 5%;

  box-shadow: 0 0 20px 0 #ffffff;
  transition: box-shadow 0.5s linear;
}

.auth-card:hover {
  box-shadow: 0 0 20px 0 #5b615b;
}

.auth__title {
  font-size: 32px;
  margin-bottom: 50px;
}

.input-field {
  margin-bottom: 20px;

  & input {
    width: 100%;
    height: 50px;

    font-size: 25px;

    border: 1px solid #5b615b;
    border-radius: 5px;


    padding: 0 0 0 10px;
  }

  &__help {
    display: none;
  }
}

.input-field .uncorrect {
  border: 3px solid #fa0000;
}

.input-field .correct {
  border: 3px solid #00bb13;
}

.helper-text {
  display: inline-block;
  padding: 10px 0 0 0;
  font-weight: 300;
  font-size: 14px;
  &.invalid {
    color: #cd271b
  }
}

.btn {
  margin: 0 auto;
  width: 100%;

  margin-bottom: 20px;

  & button {
    color: white;
    background: #02cb9c;

    width: 100%;
    height: 30px;

    border-radius: 10px;

    line-height: 25px;
    text-align: center;
    text-transform: uppercase;

    &:disabled {
      background: rgba(91, 97, 91, 0.65);
    }
  }
}

.auth__have {
  & span {
    font-weight: 300;
    margin-right: 2px;
    color: #0f0f0f;
  }
  & a {
    color: #0f0f0f;
    transition: 0.3s;
    &:hover {
      color: chocolate;
    }
  }
}
