<div class="auth">
  <form class="auth-card">
    <h1 class="auth-title">Words learning registration</h1>
    <div class="input-field">
      <input
        id="username"
        type="text"
        placeholder="Username"
      />
    </div>
    <div class="input-field">
      <input
        id="email"
        type="email"
        placeholder="Email"
      />
    </div>
    <div class="input-field">
      <input
        id="password"
        type="password"
        placeholder="Password"
      />
    </div>
    <div class="input-field">
      <input
        id="passwordConfirmation"
        type="password"
        placeholder="Confirmation password"
      />
    </div>
    <div>
      <div class="btn">
        <button type="submit">
          Registration
        </button>
      </div>
    </div>
    <div class="auth__have">
      <span>
        Do you have an account?
      </span>
      <a routerLink="/login">Login now!</a>
    </div>
  </form>
</div>
