////// AUTHORIZATION //////
.Auth {
  margin-top: 130px;
}

.AuthCard {
  background: #fff;

  width: 30%;
  min-width: 300px;
  margin: 0 auto;

  //margin-top: 130px;
  border-radius: 15px;
  padding: 2%;

  box-shadow: 0 0 20px 0 #ffffff;
  transition: box-shadow 0.5s linear;
}

.AuthCard:hover {
  box-shadow: 0 0 20px 0 #5b615b;
}

.AuthTitle {
  font-size: 32px;
  margin-bottom: 50px;
}

.InputField input {
  width: 100%;
  height: 50px;

  font-size: 25px;

  border: 1px solid #5b615b;
  border-radius: 5px;

  margin-bottom: 20px;
  padding: 0 0 0 10px;
}

.InputField .uncorrect {
  border: 2px solid #ac0404;
}

.InputField .correct {
  border: 2px solid #ac0404;
}

.AuthSubmit {
  width: 100%
}

.HelperText.invalid {
  color: #cd271b
}

.Btn {
  margin: 0 auto;
  width: 100%;

  margin-bottom: 20px;

  & button {
    background: #02cb9c;

    width: 100%;
    height: 30px;

    border-radius: 10px;

    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
  }
}
