////// AUTHORIZATION //////
body {
  background-color: #2f2c2c;
  background-size: cover;
}

.Auth {}

.cardContent {}



.authCard {
  width: 40%;
  height: 400px;
  margin: 0 auto;

  color: white;

  margin-top: 130px;
  border-radius: 15px;
  padding: 1% 0 0 1%;

  box-shadow: 0 0 20px 0 #ffffff;
  transition: box-shadow 0.5s linear;
}

.authCard:hover {
  box-shadow: 0 0 20px 0 #5b615b;
}

.authTitle {
  font-size: 28px;
  margin-bottom: 50px;
}

.inputField input{
  width: 50%;
  height: 50px;

  font-size: 25px;

  margin-bottom: 20px;
  padding: 0 0 0 10px;

  &::placeholder {

  }
}

.authSubmit {
  width: 100%
}

.helperText.invalid {
  color: #cd271b
}
